.home-title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10rem 0;
    gap: 6vh;
}

.home-title img {
    border-radius: 20px;
    width: 300px;
}

.home-title h1 {
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 25px;
    line-height: 25px;
}

.home-title h2 {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
}

.home-title .text {
    line-height: 25px;
    text-align: left;
    background-color: #333;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 2rem;
    margin: 0;
}

.home-title .text p {
    opacity: 70%;
    line-height: 35px;
    margin-top: 10px;
}

.skills {
    display: flex;
    align-items: center;
    margin: 2rem 0;
    gap: 5px;
}

.skills img {
    width: 40px;
    border-radius: 0;
}

.skills img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 600ms;
}


.home-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 15px;
}

.home-experience img {
    width: 15px;
    filter: invert(1);
}

.home-experience h2 {
    opacity: 60%;
    font-size: 12px;
}

.home-experience p {
    align-self: flex-start;
    margin-top: 1rem;
    font-size: 13px;
}

.exp-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exp {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    line-height: 20px;
    background-color: #2e2e2e;
    width: 28%;
    min-height: 180px;
}

.exp:hover {
    cursor: pointer;
    filter: invert(1);
    transform: scale(1.1);
    transition: 600ms;
}

.exp img {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
}

.home-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5rem;
    gap: 15px;
}

.home-project img {
    filter: invert(1);
    width: 15px;
}

.project-list {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: row;
    text-align: center;
    line-height: 24px;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    max-width: 300px;
    min-height: 280px;
    margin-bottom: 1rem;
}

.project h2 {
    font-weight: 800;
}

.project p {
    text-align: left;
    opacity: 70%;
    font-size: 15px;
}

.project img {
    filter: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.project-list div a {
    background-color: var(--primary);
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 800;
    color: var(--bg);
}

.project-list div a:hover {
    cursor: pointer;
    filter: invert(1);
    transition: 600ms;
}

.project-info {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 7px;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 8px;
    position: relative;
}

.project-info p {
    opacity: 100%;
    font-size: 11px;
}

.project-info img {
    border-radius: 0;
    width: 25px;
}

.project-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
}

.project-time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;

    padding: 5px 6px;
    width: 40px;
    
    background-color: var(--bg);
    border-radius: 5px;
}

.project-time:hover {
    cursor: help;
    transition: 600ms;
}

.project-time:hover::after {
    content: "Tempo gasto (aproximadamente) no projeto.";
    font-size: 11px;
    position: absolute;
    background-color: var(--bg);
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 105%; 
    white-space: nowrap;
    z-index: 999999;
}

.home-repos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5rem;
    gap: 15px;
}

.home-repos img {
    filter: invert(1);
    width: 15px;
}

.repo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.repo-list img {
    width: 11px;
    vertical-align: middle;
    margin-right: 5px;
    filter: brightness(1);
}

.repo-list p {
    font-size: 13px;
    margin-top: 10px;
}

.repo-item {
    width: 25%;
    padding: 1rem;
    background-color: var(--primary);
    color: #2e2e2e;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}

.repo-item:hover {
    cursor: pointer;
    filter: invert(1);
    transform: scale(1.1);
    transition: 600ms;
}

.home-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5rem;
    gap: 15px;
}

.home-contact div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
}

.home-contact img {
    filter: invert(1);
    width: 15px;
}

.home-contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
    color: var(--primary);
    text-decoration: none;
    font-size: 13px;
    min-width: 120px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.home-contact a:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--bg);
    transform: scale(1.1);
    transition: 600ms;
}

.home-contact a img {
    margin-right: 5px;
}


@media only screen and (max-width: 768px) {
    
    .home-title {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        margin: 0rem 1.5rem;
    }

    .home-title h1 {
        text-align: center;
    }

    .home-title p {
        text-align: justify;
    }

    .exp-list {
        flex-direction: column;
        gap: 20px;
    }

    .exp {
        width: auto;
        margin: 0rem 1.5rem;
    }

    .repo-item {
        width: auto;
        margin: 0rem 1.5rem;
    }

    .home-contact div {
        flex-direction: column;
        gap: 2vh;
    }

}