@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --expo-in: linear(
    0 0%,
    0.0085 31.26%,
    0.0167 40.94%,
    0.0289 48.86%,
    0.0471 55.92%,
    0.0717 61.99%,
    0.1038 67.32%,
    0.1443 72.07%,
    0.1989 76.7%,
    0.2659 80.89%,
    0.3465 84.71%,
    0.4419 88.22%,
    0.554 91.48%,
    0.6835 94.51%,
    0.8316 97.34%,
    1 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  color-scheme: light;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ibm-plex-sans);
}

@media (prefers-reduced-motion: no-preference) {
  /* biome-ignore lint: View Transitions pseudo-element */
  ::view-transition-group(root) {
    animation-timing-function: var(--expo-in);
  }

  /* biome-ignore lint: View Transitions pseudo-element */
  ::view-transition-new(root) {
    mask: url("/narutinho.gif") center / 0 no-repeat;
    animation: theme-toggle-reveal 2.2s;
    animation-fill-mode: both;
  }

  /* biome-ignore lint: View Transitions pseudo-element */
  ::view-transition-old(root),
  /* biome-ignore lint: View Transitions pseudo-element */
    .dark::view-transition-old(root) {
    animation: theme-toggle-reveal 2.2s;
    animation-fill-mode: both;
  }

  @keyframes theme-toggle-reveal {
    0% {
      mask-size: 0;
    }

    10% {
      mask-size: 42vmax;
    }

    90% {
      mask-size: 42vmax;
    }

    100% {
      mask-size: 2000vmax;
    }
  }
}
