.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    font-size: 11px;
    margin-left: auto;
    scroll-behavior: smooth;
}

.nav-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--primary);
    padding: 10px;

    border-radius: 10px;
}

.nav-links a:hover {
    transition: 600ms;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.082) 0%, rgba(0,0,0,0) 100%);
}

.nav-links img {
    filter: invert(1);
    width: 22px;
    height: 22px;
}

.nav-links span {
    font-size: 12px;
    display: none; 
    margin-left: 15px; 
}

.nav-links a:hover span {
    display: inline; 
}

.nav-buttons {
    display: flex;
    bottom: 15px;
    right: 15px;
    position: fixed;
    gap: 5px;
    align-items: center;
    background-color: var(--primary);
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-buttons a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #111111;
    padding: 10px;
    font-size: 9px;
    font-weight: 500;
}

.nav-buttons img {
    width: 15px;
}

.nav-buttons a:hover {
    transition: 600ms;
    opacity: 70%;
}

@media only screen and (max-width: 768px) {
    .brand {
        margin-right: 0;
    }

    .navbar {
        flex-direction: column;
    }

    .nav-links {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}