.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--bg);
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    font-size: 11px;
    margin-left: auto;
    scroll-behavior: smooth;
}

.nav-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--primary);
    padding: 10px;

    border-radius: 10px;
}

.nav-links a:hover {
    transition: 600ms;
    border-radius: 10px;
}

.nav-links img {
    filter: invert(1);
    width: 22px;
    height: 22px;
}

.nav-links span {
    font-size: 12px;
    display: none;
    margin-left: 15px;
}

.nav-links a:hover span {
    display: inline;
}

@media only screen and (max-width: 768px) {
    .navbar {
        position: inherit;
        align-items: start;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .nav-links span {
        font-size: 12px;
        display: inline;
        margin-left: 15px;
    }
}