@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter.ttf') format('truetype');
}

:root {
    --bg: #222222;
    --primary: #eeeeee;
    --bluestandard: #197dff;
}

body {
    color: var(--primary);
    font-family: 'Montserrat';
    background-image: url(../src/assets/imgs/bg-repeat.png);
    padding: 15px 200px;
    animation: moveBackground 120s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

b {
    font-weight: 800;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-weight: 800;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0 0;
    }
}